<div class="header">
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
    <nav>
        <a href="/">Home</a>
        {{#if user.admin}}
            <a href="/admin">Admin</a>
            <a href="/users">Users</a>
        {{/if}}
        <a href="/search">Search</a>
        {{#if user}}
            <a href="/report">Report</a>
            <a href="/reportfeed">User-Reported Crimes</a>
            <a href="/logout">Logout</a>
        {{/if}}
        {{#unless user}}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {{/unless}}
    </nav>
</div>