<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> header}}
        {{{ body }}}
        <script src="/js/userValidate.js"></script>
    </body>
</html>