<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/styles.css">
        {{#if newcss}}
        <link rel="stylesheet" href="/css/{{newcss}}.css">
        {{/if}}
    </head>
    <body>
        {{> header}}
        {{{ body }}}
        <script src="/js/userValidate.js"></script>
    </body>
</html>