<main>
    <div class="homeHeader">
        <h1>Crime Keeper</h1>
        <h2>Know what's going on near you!</h2>
        <nav>
            <a href="">Admin</a>
            <a href="">Report a Crime</a>
            <a href="">Crime Near You</a>
        </nav>
    </div>
</main>