<main>
<div class="description">Welcome to UCNow, your one-stop for recent crime reports in the five boroughs. 
    You can view and search crime data by clicking 'Search' above. 
    To comment on an official crime report or user crime report, please login or register as a user first. 
    You can also see graph visualizations of the crime data in 'Trends.' </div>
</main>