<div class="login-card">
  <form id="login-form" class="login-form" method="post">
    <label for="username">Username: </label>
    <input id="username" name="username" type="text">
    <label for="password">Password: </label>
    <input id="password" name="password" type="password">
    <button id="submit-button" type="submit" class="login-submit-btn">Submit</button>
  </form>
  {{#if error}}
    <p class="login-error">Invalid username or password.</p>
  {{/if}}
</div>