<form id="registration-form" method="POST" method="post">
  <label for="username">Username</label>
  <input id="username" name="username">
  <label for="password">Password</label>
  <input id="password" name="password" type="password">
  <label for="confirmPass">Confirm Password</label>
  <input id="confirmPass" type="password">
  <label for="userEmail">Email</label>
  <input id="userEmail" name="userEmail" type="email">
  <p>I acknowledge that the things that I do, say, and post will be recorded and that I will be held accountable for the things that I share.</p>
  <label for="acknowledged">I agree and understand.</label>
  <input id="acknowledged" type="checkbox">
  <br>
  <button name="submitButton" id="submitButton">Register</button>
</form>

{{#if hidden}}
    <ul id="errors" hidden>{{error}}</ul>
{{else}}
    <ul id="errors">{{error}}</ul>
{{/if}}