<main>
  <h4>Crime details:</h4>
  <p>{{error}}</p>
  <form method="POST" action="/report">
    <label>
      Offense:
      <select id="offense" name="offense">
        <option value="ROBBERY">ROBBERY</option>
        <option value="BURGLARY">BURGLARY</option>
        <option value="RAPE">RAPE</option>
        <option value="DANGEROUS DRUGS">DANGEROUS DRUGS</option>
        <option value="LARCENY">LARCENY</option>
        <option value="FORGERY">FORGERY</option>
        <option value="ASSAULT">ASSAULT</option>
        <option value="GAMBLING">GAMBLING</option>
        <option value="DANGEROUS WEAPONS">DANGEROUS WEAPONS</option>
        <option value="KIDNAPPING">KIDNAPPING</option>
        <option value="HARRASSMENT">HARRASSMENT</option>
        <option value="POSSESSION OF STOLEN GOODS">POSSESSION OF STOLEN GOODS</option>
      </select>
    </label>
    <br>
    <label>
      Borough:
      <select id="borough" name="borough">
        <option value="Manhattan">Manhattan</option>
        <option value="Brooklyn">Brooklyn</option>
        <option value="Queens">Queens</option>
        <option value="The Bronx">The Bronx</option>
        <option value="Staten Island">Staten Island</option>
      </select>
    </label>
    <br>
    <label>
      Time of Incident:
      <input type="datetime-local" id="date" name="date">
    </label>
    <br>
    <label>
      Location of Incident:
      <input type="text" id="location" name="location">
    </label>
    <br>
    <label>
      Description of Incident:
      <input type="text" id="description" name="description">
    </label>
    <br>
    <input type="submit" id="submit-data" name="submit-data">
  </form>
</main>