<h1>{{ title }}</h1>
<main>
  <h4>Crime details:</h4>
  <form method="POST" action="/report">
    <label>
      Offense:
      <select id="offense-dropdown-input" name="offense-dropdown-input">
        <option value="ROBBERY">ROBBERY</option>
        <option value="BURGLARY">BURGLARY</option>
        <option value="RAPE">RAPE</option>
        <option value="DANGEROUS DRUGS">DANGEROUS DRUGS</option>
      </select>
    </label>
    <br>
    <label>
      Borough:
      <select id="borough-dropdown-input" name="borough-dropdown-input">
        <option value="Manhattan">Manhattan</option>
        <option value="Brooklyn">Brooklyn</option>
        <option value="Queens">Queens</option>
        <option value="The Bronx">The Bronx</option>
        <option value="Staten Island">Staten Island</option>
      </select>
    </label>
    <br>
    <label>
      Time of Incident:
      <input type="datetime-local" id="crime-date-input" name="crime-date-input">
    </label>
    <br>
    <label>
      Location of Incident:
      <input type="text" id="crime-location-input" name="crime-location-input">
    </label>
    <br>
    <label>
      Description of Incident:
      <input type="text" id="incident-desc-input" name="incident-desc-input">
    </label>
    <br>
    <input type="submit" id="submit-data" name="submit-data">
  </form>
</main>