<main class="search-crime-container">
  <form action="/search" method="POST" class="search-form">
    <label id="search-crimes" for="searchCrime">Search for Crime</label>
    <input type="text" id="searchCrime" name="searchCrime" placeholder="Search for Crime by type...">
    <button type="submit">Search</button>
  </form>
  <ul class="crime-list">
    {{#each crimes}}
    <li class="individual-crime">
      <strong>Borough:</strong> {{borough}}<br>
      <strong>Offense:</strong> {{offense}}<br> 
      <strong>Date:</strong> {{date}}
    </li>
    {{/each}}
  </ul>
</main>