<h1>{{title}}</h1>
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const crimeData = {{{crimes}}};
  let boroughArr = [];
  for (let c of crimeData){
    const checkBorough = boroughArr.findIndex((elem) => elem.borough === c.borough);
    if (checkBorough === -1) boroughArr.push({borough: c.borough, count: 1});
    else boroughArr[checkBorough].count += 1;
  }
  //console.log(crimeData.length);

  new Chart(ctx, {
      type: 'bar',
      data: {
          datasets: [{
              label: '# of crimes in borough',
              data: boroughArr,
          }]
      },
      options: {
          parsing: {
              xAxisKey: 'borough',
              yAxisKey: 'count'
          }
      }
  });
</script>