<h1>{{title}}</h1>
<div>
  <div id="boroughFilters">Sort by Borough: </div>
  <div id="offenseFilters"> Sort by Offense: 
    <ul id="offenseSearch"></ul>
  </div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/charts.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  const crimeData = {{{crimes}}};
  
  const uniqueBoroughs = [...new Set(crimeData.map(crime => crime.borough))];
  const uniqueCrimes = [...new Set(crimeData.map(crime => crime.offense))];
  uniqueBoroughs.push("ALL");
  uniqueCrimes.push("ALL");
  const bfilters = document.getElementById("boroughFilters");
  uniqueBoroughs.forEach(borough => {
    let bButton = document.createElement("button");
    bButton.textContent = borough;
    bButton.id = borough;
    bfilters.appendChild(bButton);
  });

  const cfilters = document.getElementById("offenseSearch");
  uniqueCrimes.forEach(crime => {
    let listItem = document.createElement("li");
    let cButton = document.createElement("button");
    cButton.textContent = crime;
    cButton.id = crime;
    listItem.appendChild(cButton);
    cfilters.appendChild(listItem);
  });



  let boroughCrimes = {};
  crimeData.forEach(crime => {
      boroughCrimes[crime.borough] = (boroughCrimes[crime.borough] || 0) + 1;
  });

  

  //console.log(crimeData.length);

  let crimeChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: Object.keys(boroughCrimes),
      datasets: [{
        label: 'Number of Crimes per Borough',
        data: Object.values(boroughCrimes),
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Crime Count'
          },
        },
        x: {
          title: {
            display: true,
            text: 'Borough'
          }
        }
      }
    }
  });

   document.getElementById("boroughFilters").addEventListener("click", e => {
      if (e.target.tagName === "BUTTON") {
        const borough = e.target.id;
        const filtered = borough === "ALL" ? crimeData : crimeData.filter(c => c.borough === borough);
        crimeChart = updateChartb(filtered, document.getElementById("myChart"), crimeChart);
      }
  });

  document.getElementById("offenseFilters").addEventListener("click", e => {
      if (e.target.tagName === "BUTTON") {
        const crime = e.target.id;
        const filtered = crime === "ALL" ? crimeData : crimeData.filter(c => c.offense === crime);
        crimeChart = updateChartc(filtered, document.getElementById("myChart"), crimeChart);
      }
  });
  </script>